<html>
    <head>
        <title>Contactenos</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="CSS/PaginaInicial.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header class="header">

            <nav class="nav ">
                <a th:href="@{/}" class="logo nav-link">Turismo</a>
                <ul class="nav-menu">
                    <li class="nav-menu-item"><a class="nav-menu-link nav-link" th:href="@{/}">Inicio</a></li>
                    <li class="nav-menu-item"><a class="nav-menu-link nav-link" th:href="@{/listarClientes}">Listar</a></li>
                    <li class="nav-menu-item"><a class="nav-menu-link nav-link" th:href="@{/nuevoCliente}">Insertar</a></li>
                    <link href="CSS/PaginaInicial.css" rel="stylesheet" type="text/css"/>
                    <li class="nav-menu-item"><a class="nav-menu-link nav-link" href="Contactenos.html">Contactenos</a></li>


                </ul>
            </nav>
        </header>
        
    </body>
</html>
