<!DOCTYPE html>
<html xmls:th="http://www.thymleaf.org">
    <head>
        <title>Listar</title>
        <meta charset="UTF-8">
        <link href="CSS/PaginaInicial.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header class="header">

            <nav class="nav ">
                <a th:href="@{/}" class="logo nav-link">Turismo</a>
                <ul class="nav-menu">
                    <li class="nav-menu-item"><a class="nav-menu-link nav-link" th:href="@{/}">Inicio</a></li>
                    <li class="nav-menu-item"><a class="nav-menu-link nav-link" th:href="@{/listarClientes}">Listar</a></li>
                    <li class="nav-menu-item"><a class="nav-menu-link nav-link" th:href="@{/nuevoCliente}">Insertar</a></li>
                    <li class="nav-menu-item"><a class="nav-menu-link nav-link" href="Contactenos.html">Contactenos</a></li>


                </ul>
            </nav>
        </header>
        <h1 class="bienvenida">Lista de vuelos</h1>
        <div th:if="${clientes !=null and !clientes.empty}">
            <table border="1" th:fragment="tabla">
                <thead>
                    <tr >
                        <th>Nombre</th>
                        <th>Apellidos</th>
                        <th>destino</th>
                        <th>Fecha de vuelo</th>
                        <th>Eliminar</th>
                        <th>Modificar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="cliente:${clientes}">
                        <td th:text="${cliente.nombre}">  </td>
                        <td th:text="${cliente.apellidos}"></td>
                        <td th:text="${cliente.destino}"> </td>
                        <td th:text="${cliente.fecha}"></td>
                        <td><a th:href="@{/eliminarCliente/} + ${cliente.idcliente}">Eliminar</a></td>
                        <td><a th:href="@{/modificarCliente/} + ${cliente.idcliente}">Modificar</a></td>

                    </tr>
                </tbody>
            </table>
            <h3>¿Desea reservar otro vuelo?</h3>
        <h5><a th:href="@{/nuevoCliente}">Si</a></h5>
        <h5><a th:href="@{/}">No</a></h5>
        </div>
        <div th:if="${clientes == null or clientes.empty}">
            Aun no hay vuelos reservados
            <h3>¿Desea reservar un vuelo?</h3>
            <h5><a th:href="@{/nuevoCliente}">Si</a></h5>
            <h5></h5>
            <a th:href="@{/}">No</a>
        </div>
        
        

    </body>
</html>

